$img-path: '../images/';
$font-path: '../fonts/';

$font-stack: 'Open Sans', sans-serif;
$serif-stack: 'Georgia', serif;

$primary-color: #f8c422;

$light-bg: #ffffff;
$light-bg-txt: #7f7f7f; // #646464;
$light-bg-header: #000000;
$light-border: #b4b4b4;
$light-line: #f1f1f1;

$dark-bg: #191919;
$dark-bg-txt: #626262;
$dark-border: #626262;
